body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #1a2a6c, #b21f1f, #fdbb2d);
    background-size: 400% 400%;
    animation: gradientShift 10s ease infinite;
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: calc(100vh - 50px); /* Adjusted to account for footer height */
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: none; /* Keep the wrapper transparent */
}


#container {
    position: relative;
    display: flex;
    width: 1000px;
    height: 700px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    margin-top: 0px;
    justify-content: center;
}

#header {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(90deg, #007acc, #36a370);
    padding: 20px;
    border-radius: 10px 10px 0 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    box-sizing: border-box;
}

#gameCanvas {
    flex: 1;
    border: 2px solid #333;
    margin-right: 10px;
    width: 100%;
    height: 100%;
}

#gameMenu {
    width: 250px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#menuInfo {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#menuInfo img {
    float: left;
    width: 50px;
}

#menuInfo h2 {
    float: left;
    width: 125px;
    font-size: 20px;
    padding-left: 25px;
}

#menuButtons button {
    float: left;
    height: 75px;
    width: 250px;
    font-size: 20px;
}

#menuButtons {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.autoStartToggle {
    display: block; /* Makes the span a block-level element */
    font-size: smaller;
    opacity: 0.7;
}

.hoverButton {
    position: relative;
    background-color: #007acc;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hoverButton .hoverText {
    position: absolute;
    right: 220px;
    top: 50%;
    transform: translateY(-50%);
    width: 200px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
    text-align: center;
    visibility: hidden;
    z-index: 1;
}

.hoverButton:hover .hoverText {
    visibility: visible;
}

.hoverButton:hover {
    background-color: #005f99;
}

#healthPopup {
    position: absolute;
    top: 39%;
    right: 10%;
    transform: translate(-50%, -50%);
    background-color: red;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 18px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
    z-index: 100;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#healthPopup.show {
    visibility: visible;
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

#moneypopup {
    position: absolute;
    top: 29%;
    right: 13%;
    transform: translate(-50%, -50%);
    background-color: #FFDF00;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 18px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
    z-index: 100;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#moneypopup.show {
    visibility: visible;
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

#bossWarningPopup {
    position: absolute;
    top: 49%;
    right: 2%;
    transform: translate(-50%, -50%);
    background-color: rgb(29, 13, 122);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 18px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
    z-index: 100;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#bossWarningPopup.show {
    visibility: visible;
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

#footer {
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    background-color: #333333;
    padding: 10px;
    width: 100%;
    position: relative; /* Ensure it stays within the flow of the document */
}

#message
{
    color: white;
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
    line-height: 0;
}

.popupMenu {
    position: absolute;
    top: 50%;
    left: 57%;
    transform: translate(-50%, -50%);
    background: rgba(20, 20, 20, 0.95);
    color: #fff;
    border-radius: 12px;
    padding: 15px;
    z-index: 100;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 200px;
    text-align: center;
}

.popupMenu button {
    background: linear-gradient(145deg, #007acc, #005f99);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.3s, background-color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    gap: 10px;
    margin: 3px;
}

.popupMenu button:hover {
    background: linear-gradient(145deg, #005f99, #003f66);
    transform: translateY(-2px);
}

.popupMenu button img {
    width: 55px;
    height: 55px;
}

.popupMenu button:active {
    transform: translateY(1px);
}


#turretMenu button{
    width: 200px;
}


#garbage {
    position: absolute;
    bottom: 10px; 
    left: 10px; 
    width: 70px; 
    height: auto;
    z-index: 10; 
    pointer-events: none; 
  }
  

